body {
  background-color:#cccccc;
  background-image:url('bluesky.jpg');
  width: 960px;
  margin: 30px auto;
}

h1 {
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  color: white; 
}

.label {
  font-size: 1.5em;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  color: white;
  padding-right: 15px;
}

.input-large {
  width: 400px;
  height: 35px;
}